---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
import PageHeader from '../components/PageHeader.astro';
---

<Layout title="Sign Up /the mono">
	<Sidebar/>
	<div class="page-wrapper">
		<PageHeader title="Sign Up" signup/>
		<div class="page-body">
            signup page here..
        </div>
	</div>	  
</Layout>